/* reset */
@charset utf-8; 
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, 
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    outline: 0 none;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
adress, article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary{display: block;} 

*{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}

a, a:hover, button, button:hover, .anime{
       -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
         -o-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
            transition: all 200ms linear;
    cursor: pointer;
}

.main_flex{display:flex;
    display:-webkit-flex;
    -webkit-flex-flow:row wrap;
            flex-flow:row wrap}

.main_flex__nowrap{
    display:flex;
    display:-webkit-flex;
    -webkit-flex-flow:row nowrap;
            flex-flow:row nowrap
}

.flex__jcontent_between{
            justify-content:space-between;
    -webkit-justify-content:space-between
}

.flex__jcontent_start{
            justify-content:flex-start;
    -webkit-justify-content:flex-start
}

.flex__jcontent_end{
            justify-content:flex-end;
    -webkit-justify-content:flex-end
}

.flex__jcontent_center{
            justify-content:center;
    -webkit-justify-content:center
}

.flex__jcontent_around{
            justify-content:space-around;
    -webkit-justify-content:space-around
}

.flex__auto{
            flex:auto;
    -webkit-flex:auto;
        -ms-flex:auto
}

.flex__align-items_start{
            align-items:flex-start;
    -webkit-align-items:flex-start
}

.flex__align-items_end{
            align-items:flex-end;
    -webkit-align-items:flex-end
}

.flex__align-items_baseline{
            align-items:baseline;    
    -webkit-align-items:baseline
}

.flex__align-items_stretch{
            align-items:stretch;
    -webkit-align-items:stretch
}

.flex__align-items_center{
            align-items:center;
    -webkit-align-items:center
}

.flex__align-content_flex-start{
            align-content:flex-start;
    -webkit-align-content:flex-start
}
.flex__align-content_flex-end{
            align-content:flex-end;
    -webkit-align-content:flex-end
}
.flex__align-content_space-between{
            align-content:space-between;
    -webkit-align-content:space-between
}
.flex__align-content_center{
            align-content:center;
    -webkit-align-content:center
}
.flex__align-content_space-around{
            align-content:space-around;
    -webkit-align-content:space-around
}
.flex__align-content_stretch{
            align-content:stretch;
    -webkit-align-content:stretch
}
.flex__flex-grow_01{
            flex-grow:1;
    -webkit-flex-grow:1
}
.flex__flex-grow_02{
            flex-grow:2;
    -webkit-flex-grow:2
}
.flex__flex-grow_03{
            flex-grow:3;
    -webkit-flex-grow:3
}
.flex__flex-grow_04{
            flex-grow:4;
    -webkit-flex-grow:4
}

.w5{width:5%;max-width:5%}
.w10{width:10%;max-width:10%}
.w15{width:15%;max-width:15%}
.w20{width:20%;max-width:20%}
.w25{width:25%;max-width:25%}
.w30{width:30%;max-width:30%}
.w35{width:35%;max-width:35%}
.w40{width:40%;max-width:40%}
.w45{width:45%;max-width:45%}
.w50{width:50%;max-width:50%}
.w55{width:55%;max-width:55%}
.w60{width:30%;max-width:60%}
.w65{width:65%;max-width:65%}
.w70{width:70%;max-width:70%}
.w75{width:75%;max-width:75%}
.w80{width:80%;max-width:80%}
.w85{width:85%;max-width:85%}
.w90{width:90%;max-width:90%}
.w95{width:95%;max-width:95%}
.w100{width:100%;max-width:100%}

.main_flex__nowrap_reverse {
    display:flex;
    display:-webkit-flex;
            -webkit-flex-flow:row-reverse nowrap;
    flex-flow:row-reverse nowrap
}


/* header */
body{
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "trebuchet MS", Verdana, "sans-serif";
    background-color: #b4b7b8;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    height: 100vh;    /* 100% from screen height */
    width: 15.62vw;
    background-color: #242b2e;
    color: #6b7072;
    box-shadow: 8px 0px 14px 0px rgba(70,70,70,0.55); 
    flex-direction: column;
    flex-flow: column nowrap;
    display: flex;
}

#logo{
    width: 100%;
    height: 11.57vh;
    background-color: #fff;
}

#logo img{width: 6vw}

/* nav */
#main_nav a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.93vmax; 
    line-height: 1.66vmax;
    height: 3.22vmax;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    background-color: #2f373b;
    background: #333b3f;
    background:    -moz-linear-gradient(top, #333b3f -1%, #333b3f 0%, #2e363a 100%);
    background: -webkit-linear-gradient(top, #333b3f -1%, #333b3f 0%, #2e363a 100%);
    background:         linear-gradient(top, #333b3f -1%, #333b3f 0%, #2e363a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#333b3f', endColorstr = '#2e363a', GradientType = 0);
    padding-right: 1.3vmax;    
}

#main_nav a:hover{
    background: #31bcba;
    background:    -moz-linear-gradient(top, #31bcba -1%, #18a3a1 100%);
    background: -webkit-linear-gradient(top, #31bcba -1%, #18a3a1 100%);
    background:         linear-gradient(top, #31bcba -1%, #18a3a1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#31bcba', endColorstr = '#18a3a1', GradientType = 0);
}

nav li{list-style: none;}

#title_filter{
    color: #1ab5b3;
    fill: #1ab5b3;
    font-size: 0.98vmax;
    padding: 1.25vmax;
}

#title_filter svg{
    width: 0.9vmax;
    height: 0.9vmax;
    margin-left: 0.62vmax;
}

#filter li{
    list-style: none;
    width: 100%;
    text-align: right;    
}

#filter a{
    font-size: 0.67vmax;
    line-height: 1.25vmax;
    text-align: right;
    padding: 0.41vmax;
    text-decoration: none;
    color: #636669;
}
#filter a.active{color: #fff;}
#filter a:hover{color: #fff;}

#soc_bar img{
    width: 1.25vmax;
    height: 1.25vmax;
}

#soc_bar a{margin-left: 0.52vmax;}
#soc_bar a:hover{transform: scale(0.8);}

#soc_bar{
    padding: 1.25vmax;
    border-top: 1px solid #1ab5b3;
    width: 100%;
    margin-top: 1.25vmax;
}

#cop{
    text-align: right;
    width: 100%;
    font-size: 0.62vmax;
    color: #6b7072;
    padding-right: 1.25vmax;
}

/* main */

main{
    width: 100%;
    min-height: 100vh;
    padding-left: 15.62vw;
}

.work_box{
    height: 16.16vw;
    max-width: 21.09vw;
    width: 25%;
    position: relative;
    overflow: hidden;
}

.work_box img{
    width: calc(100% + 5vw);;
    height: auto;
    position: absolute;
    z-index: 1;
}

.work_box a{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: inherit;
    background-color: rgba(45,184,185,0.9);
    color: #fff;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    opacity: 0;
}
.work_box a:hover{opacity: 1;}

.arrow{
    width: 3vw;
    height: 3vw;
    fill: #fff;
}

.work_box h2{
    font-size: 1.25vw;
    font-weight: 400;
    margin-bottom: 0.78vw;
}
.work_box h3{
    font-size: 0.62vw;
    font-weight: 400;
}
.work_box h3:after{
	content: '';
    width: 50%;
    height: 1px;
    margin: 1vw auto;
    display: block;
    background-color: #fff;
}

#info{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    width: 4.68vw;
    height: 4.68vw;
    background-color: rgba(45,184,185,0.9);
    padding: 0.75vw;
    cursor: pointer;
}

#main_nav .active {
	background:    -moz-linear-gradient(top, #31bcba -1%, #18a3a1 100%);
    background: -webkit-linear-gradient(top, #31bcba -1%, #18a3a1 100%);
    background:         linear-gradient(top, #31bcba -1%, #18a3a1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#31bcba', endColorstr = '#18a3a1', GradientType = 0);
}

#info_box svg{
    height: 0.88vw;
    fill: #fff;
    margin-right: 0.52vw;
}
#info_box{
    position: fixed;
    right: 0;
    z-index: 5;
    background-color: rgba(0,0,0,0.7);
    padding: 1vw 3.85vw 1vw 1vw;
    top: 4.68vw;
    color: #fff;
    transform: translateX(100%);
    transition: all 0.35s;
}
#info_box.open{
    transform: translateX(0%);
    transition: all 0.35s;
}

#info_box li{
    list-style: none;
    font-size: 0.83vmax;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    line-height: 0.78vmax;
    margin-bottom: 1vw;
}
#info_box li:last-of-type{margin-bottom: 0;}

.wrap{
    margin: 1.56vw;
    padding: 1.56vw;
}

.white{background-color: #fff;}

.info_work_box .left_info,
.info_work_box .right_info,
.info_about_box .left_info,
.info_about_box .right_info{width: 48%;}

.info_work_box .left_info .img_box_work,
.info_about_box .about{
    width: 100%;
    overflow: hidden;
    height: 29.16vw;
}

.left_info .info_about_box{
    width: 100%;
    overflow: hidden;
    height: 15.72vw;
}

.info_work_box .left_info .img_box_work img,
.left_info .img_box_about img{
    width: 100%;
    height: auto;    
}

.info_work_box .left_info .about_work,
.info_about_box .about{
	margin-top: 1.3vw;
    padding-bottom: 1.6vw;
    border-bottom: 1px solid #1ab5b3;
    color: #a3a3a3;
    font-size: 0.93vw;
    line-height: 1.56vw;
}

.info_work_box .left_info .about_work h1,
.title_info,
.info_about_box .about h1{
    font-size: 1.25vw;
    line-height: 1.36vw;
    color: #000;
    margin-bottom: 1vw;
    font-weight: 400;
}

.info_work_box .left_info .about_work p,
.info_about_box .about p{margin-bottom: 2.39vw;}

.info_work_box .left_info .about_work p:last-of-type,
.info_about_box .about p:last-of-type{margin-bottom: 0;}

.pr_info li{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    font-size: 0.8vw;
    line-height: 1.56vw;
    padding: 0.72vw 0;
    border-bottom:  1px solid #848484;
} 

.pr_info svg{
    width: 1.56vw;
    height: 1.56vw;
    fill: #1ab5b3;
    margin-right: 0.76vw;
}

.pr_info,
.tags{margin-bottom: 1.56vw;}
.tag{
    margin-right: 0.7vw;
    border: 1px solid #1ab5b3;
    padding: 0.5vw 0.7vw;
    border-radius: 0.5vw;
}
.tag:last-child{
    margin-right: 0;
}

.gall{margin-bottom: 1.56vw;}
.img_gal{
    width: 7vw;
    height: 7vw;
    margin-right: 0.49vw;
    margin-bottom: 0.49vw;
}
.img_gal:nth-child(5n){margin-right: 0;}

.img_gal img{
    width: 7vw;
    height: 7vw;
    overflow: hidden;
}

.pr_f li{
    list-style: none;
}

.pr_f li svg{
    fill: #1ab5b3;
    width: 0.6vw;
    height: 0.6vw;
    margin-right: 0.3vw;
}

.list_r_pr a{
    display: block;
    width: 33.33%;
    height: 9.47vw;
    overflow: hidden;
}

.list_r_pr a img{
    width: 100%;
}

.list_r_pr,
.staff_box{
    margin-top: 1.56vw;
}

/* about */

.staff{
    width: 11.82vw;
    height: 9.37vw;
    position: relative;
    overflow: hidden;
}

.staff a{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    background-color: rgba(45,184,185,0.9);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    text-decoration: none;
    font-size: 0.72vw;
}
.staff a:hover{
    opacity: 1;
}

.staff{
	position: absolute;
    top: 0;
    z-index: 0;  
}

.staff h4{
    font-size: 0.83vw;
}



































































