html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {height: 100%;}
body {
	height: 100%;
	font: 14px/24px Arial, Tahoma, sans-serif;
	background-color: #ebebeb;
}
ol, ul {list-style: none;}
* {
	margin: 0;
	padding: 0;
	outline: none;
    
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a, a:hover {text-decoration: none;}

@font-face {
    font-family: 'NexaHeavy';
    src: url('../fonts/NexaHeavy.eot');
    src: url('../fonts/NexaHeavy.eot') format('embedded-opentype'),
         url('../fonts/NexaHeavy.woff2') format('woff2'),
         url('../fonts/NexaHeavy.woff') format('woff'),
         url('../fonts/NexaHeavy.ttf') format('truetype'),
         url('../fonts/NexaHeavy.svg#NexaHeavy') format('svg');
}

@font-face {
    font-family: 'NexaLight';
    src: url('../fonts/NexaLight.eot');
    src: url('../fonts/NexaLight.eot') format('embedded-opentype'),
         url('../fonts/NexaLight.woff2') format('woff2'),
         url('../fonts/NexaLight.woff') format('woff'),
         url('../fonts/NexaLight.ttf') format('truetype'),
         url('../fonts/NexaLight.svg#NexaLight') format('svg');
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {clear: both;}

.left {float:left;}
.right {float:right;}
.text-right{text-align: right;}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

/* 1 */
#header{background-color: #373737;}
.logo a{
    position: relative;
    display: inline-block;        /* чтобы мы могли указать ширину и высоту */
    height: 65px;
    width: 80px;
    background-color: #f26c4f;
    font: 36px 'NexaHeavy';
    color: #fff;
    text-align: center;
    vertical-align: middle;
}
.logo a:after{                /* триугольник */    
    position: absolute;
    content: '';
    display: block;
    height: 0;
    width: 0;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-top: 12px solid transparent;
    border-left: 12px solid #f26c4f;
    border-bottom: 12px solid transparent; 
}
.logo > span{
    display: inline-block;
    font: 18px 'NexaLight';
    color: #fff;
    vertical-align: middle;
    margin-left: 20px;
}
#nav{background-color: #474747;}

.navigation li{
    float: left;
    padding: 25px 0;
}
.navigation li span{
    display: block;
    height: 11px;
    line-height: 11px;
    padding: 0 25px;
    border-right: 1px solid #767676;
}
.navigation span:last-child{border-right: 0;}

.navigation li a{
    position: relative;
    font-size: 12px;
    color: #fff;
}
.navigation li.active a:after,
.navigation li a:hover:after{
    content: '';
    display: block;
    height: 4px;
    background: #f26c4f;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -24px;
}

.panel-header{padding: 15px 0 10px;}
.search-wrap{width: 300px;}
.search{
    width: 100%;
    height: 45px;
    padding: 15px 20px;
    background: #fff url('../img/clock.png') no-repeat right 13px center;
    border: none;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
       -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
        -ms-box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
         -o-box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
            box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}
.search::-webkit-input-placeholder{
    font: bold 12px Arial, sans-serif;
    color: #959595;
}
.social{padding-top: 11px;}
.social a{
    display: inline-block;
    height: 13px;
    margin-left: 25px;
    padding-left: 20px;
    font-size: 12px;
    color: #8f8f8f;
    line-height: 13px;
    background: url(../img/social-ic.png) no-repeat;
}
.social a:first-child{margin-left: 0;}
.social a:hover{color: #555;}
.social a.tw{background-position: 2px -1px;}
.social a.fb{background-position: 2px -13px;}
.social a.rs{background-position: 2px -27px;}
.social a.em{background-position: 2px -38px;}

.feature-img{
    position: relative;
    height: 390px;
    width: 630px;
    background: #f26c4f;
    overflow: hidden;
}
.feature-img img{
    display: block;
    width: 100%;
    height: auto;
}
.feature-descr{
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
}
.feature-descr p{
    font-size: 16px;
    color: #fff;
    width: 365px;
    padding: 20px 25px;
}
.feature-txt{
    height: 390px;
    width: 310px;
    background: #373737;
    padding: 40px 37px;
    border-left: 9px solid #f26c4f;
    position: relative;
}
.feature-txt:after{
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 0;
    left: 0;
    top: 12%;
    border-top: 12px solid transparent;
    border-left: 12px solid #f26c4f;
    border-bottom: 12px solid transparent;
}
.feature-txt h4{
    font-weight: bold;
    font-size: 19px;
    color: #fff;
    margin-bottom: 5px;
}
.feature-txt p{
    font-size: 12px;
    color: #a7a7a7;
    line-height: 20px;
}
.date{
    margin-top: 10px;
    font-size: 12px;
    color: #a7a7a7;
    background: url(../img/date.png) no-repeat left center;
    padding-left: 20px;
    display: inline-block;
}
#articles{margin-bottom: 15px;}
.article-item{
    float: left;
    width: 300px;
    height: 380px;
    background: #fff;
    margin-right: 20px;
    margin-top: 10px;
    border-bottom: 2px solid #f26c4f;
}
.article-item:last-child{margin-right: 0;}
.article-img{
    position: relative;
    overflow: hidden;
}
.article-item img{
    height: 190px;
    width: 100%;
}
.article-img:hover{background: #f26c4f;}

.articles-footer{padding: 20px 25px;}
h3.title{
    font-weight: bold;
    font-size: 25px;
    color: #4f4f4f;
    line-height: 30px;
    margin-bottom: 15px;
}
h3.title a{color: #4f4f4f;}
h3.title a:hover{color: #f26c4f;}

.articles-footer p{
    font-size: 12px;
    color: #646464;
    line-height: 20px;
}
.zoom{
    position: absolute;
    top: 0;
    right: 0;
    height: 80px;
    width: 80px;
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
    background: url(../img/zoom-bl.png) no-repeat;
}
.zoom a{
    display: inline-block;
    padding: 5px 8px;
    color: #fff;
    font-size: 25px;
}
.zoom a:hover{font-size: 30px;}


.sidebar{width: 300px;}
.content{margin-right: 320px;}
.news-bl{
    position: relative;
    background: #373737;
}
.news-bl p{color: #fff}
.news-bl h3.title a{color: #fff;}
.news-bl h3.title a:hover{color: #f26c4f;}

.news-item{
    border-left: 5px solid #f26c4f;
    padding: 30px 40px 20px;
    background: #fff;
    margin-bottom: 15px;
}

.news-item a{color: #474747;}
.title-news{
    margin-bottom: 10px;
    font-weight: bold;
    color: #474747;  
}

h4.title-news{font-size: 24px;}
.news-item-p{
    color: #707070;
    line-height: 20px;
}
.news-panel{
    margin-bottom: 10px;
    font: 10px Tahoma, sans-serif;
    color: #8f8f8f;
}
.news-panel span{
    display: inline-block;
    vertical-align: middle;
}
.divide{
    margin: 0 30px;
    background: #dfdfdf;
    width: 2px;
    height: 21px;
}
.rate{
    width: 65px;
    margin-right: 5px;
}
.item-r{
    height: 14px;
    background: url(../img/star.png) repeat-x;
}
.readmore{
    font: bold 14px Arial, sans-serif;
    color: #bdbdbd; 
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}
.readmore a{color: #fff;}
.readmore-logo{
    border: 2px solid #bdbdbd;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
        -ms-border-radius: 50%;
         -o-border-radius: 50%;
            border-radius: 50%;
    margin: 0 auto;
    background: #bdbdbd;
    margin-bottom: 10px;
}
.readmore-logo:hover{
    background: #f26c4f;
    border-color: #f26c4f;
}

.story-item{
    background-color: #fff;
    padding: 30px 40px 30px 40px;
}
.story-item a{
    color: #222;
    font: bold 30px Arial, sans-serif;
    color: #707070;
}
.story-item a:hover{color: #f26c4f;}

.story-item h4{margin-bottom: 25px;}

.story-item p{
    font: bold 14px sans-serif;
    color: #707070;
    line-height: 25px;
}
.story-item span{color: #f26c4f;}
.redline{
    background: #f26c4f;
    width: auto;
    height: 3px;
}
.story-footer{
    width: auto;
    height: 40px;
    background: #646464 url(../img/heart.png) no-repeat 95% 15px;
    margin-bottom: 30px;
}
.story-date{
    padding: 8px 25px;
    color: #f26c4f;
}
.story-rate{
    color: #fff;
    text-align: right;
    margin-right: 50px;
    padding-top: 8px;
}
.stoty-head img{
    position: relative;
    margin: -30px -40px 10px;
    width: 620px;
}

.article-about{
    background: #fff;
    margin-top: 15px;
    border-left: 5px solid #4f4f4f;
    padding: 10px 20px;
    margin-bottom: 15px;
}
.articles-about a{color: #4f4f4f;}
.articles-about a:hover{color: #f26c4f;}
.articles-about h5{
    font: bold 19px Arial, sans-serif;
    color: #4f4f4f;
    margin-bottom: 15px;
}
.articles-about p{
    font: 12px Arial, sans-serif;
    line-height: 20px;
}

#footer{background: #474747;}
.navigation{color: #fff;}
.footer-txt{
    color: #bdbdbd;
    font: 11px Arial, sans-serif;
    line-height: 15px;
}


























































































































