/* reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kdb, q, s, samp, 
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary
time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
html{
    height: 100%;
}
body{
    height: 100%;
    font: 14px/18px 'Times New Roman', Times, sans-serif;
    background-color: #FFF;
    
}

ol, ul{
    list-style: none;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, a:hover{text-decoration: none;}

.clearfix:before, .clearfix:afteer{
    content: " ";
    display: table;
}
.clearfix:after{
    clear: both;
}

.left{float: left;}
.right{float: right;}
.text-right{text-align: right;}
.text-left{text-align: left;}


.container{
    width: 940px;
    margin: 0 auto;
}

#header{
    position: absolute;
    top 20px;
    width: 100%;
    left: 0;
    right: 0;
    padding: 20px 0;
}
.logo{                        /*лого слева*/
    float: left;
}
.nav{                        /* навигация справа */
    float: right;
    padding-top: 5px;
}
.nav li{
    float: left;
    margin-right: 40px;
}
.nav li:last-child{
    margin-right: 0;
}
.nav a{
    text-transform: uppercase;
    font: 14px Arial, sans-serif;
    color: #fff;
}
.nav a:hover{color: #fed136;}

#home{
    height: 700px;
    /* цвет, если браузер не отобразит картинку + не зацикливать её + по центру + позиционируем чтобы не обрезалась */
    background: #222 url('../img/home-bg.jpg') no-repeat center bottom;   
    
            background-size: cover;        /* растянуть картинку */
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
    
    padding-top: 270px;
    text-align: center;
    color: #fff;
}
#home h3{
    font: 40px/40px Arial, sans-serif;
    margin-bottom: 40px;
}
#home h1{
    text-transform: uppercase;
    font: 75px/75px Arial, sans-serif;
    margin-bottom: 50px;
}
.btn{
    padding: 20px 30px;
    background: #fed136;
    border: 0;
    color: #fff;
    font: bold 24px/24px Arial, sans-serif;
    text-transform: uppercase;
    display: inline-block;        /* если кновка будет ссылкой, то чтобы в ссылке были блочные элементы */
    cursor: pointer;
    
            border-radius: 5px;    /* закруглённые уголки */
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
         -o-border-radius: 5px;
}
.btn:hover{
    background: #e7ba1d;
    color: #fff;
}

/* 2 */
.box{
    padding: 120px 0;
    
}
#services{
    text-align: center;
}
h2.title{
    font: bold 40px/40px Arial, sans-serif;
    color:  #222;
    text-transform: uppercase;
    margin-bottom: 10px;
}
h5.title{
    font: bold 18px/18px Arial, sans-serif;
    color:  #222;
    margin-bottom: 10px;
}
.descr{
    font: 16px;
    margin-bottom: 10px;
    color: #777;
    margin-bottom: 70px;
}
.services-wrap,
.portfolio-wrap,
.about-link,
#message{
    padding-top: 0px;
    padding-bottom: 120px;
}
.services-item{
    float: left;
    width: 33.33%;
    padding: 90px 20px; 0
    line-height: 24px;    /* расстояние между строками */
}

.services-item p{
    font-size: 14px;
    color: #777;
}
.commerce{
    background: url('../img/blok-1.png') no-repeat center top;
}
.responsive{
    background: url('../img/blok-2.png') no-repeat center top;
}
.security{
    background: url('../img/blok-3.png') no-repeat center top;
}

/* 3 */
#portfolio{
    background: #f7f7f7;
    text-align: center;
    padding-bottom: 820px;
}

.portfolio-item{
    width: 31%;
    margin-bottom: 50px;
    margin-right: 3.5%;
    float: left;
    color: #fff;
}
.portfolio-item:nth-child(3n){    /* каждый 3й элемент */
    margin-right: 0;
}
.portfolio-item:nth-last-child(1), 
.portfolio-item:nth-last-child(2), 
.portfolio-item:nth-last-child(3){
    margin-bottom: 0;
}

.p-item-footer{
    padding: 25px 20px;
    color: #737373;
    background-color: white;
    /*margin-bottom: 0;*/
}
.p-item-footer h5.title{
    margin-bottom: 4px;
}

/* 4 */
#about{
    text-align: center;
    padding-bottom: 1300px;
}
.about-text{
    width: 35%;
}
.about-text h5{
    line-height: 24px;
}
.about-text h5 span{
    text-transform: uppercase;
}
.about-text p{
    font-size: 14px;
    line-height: 24px;
    color: #777;
}
.about-img{
    width: 30%;
    margin-right: 1px;
    margin-bottom: 0;
    margin-top: 0;
}
.about-img:after{
    content: ' ';
    display: block;
    margin: -5px auto;
    height: 93px;
    width: 3px;
    background: #f1f1f1;

}
.about-img img, .about-link{
    width: 177px;
    height: 177px;
    border: 7px solid #f1f1f1;
    display: inline-block;         /* чтобы не было нижнего отступа */
    
            border-radius: 50%;   /* закруглённые уголки */
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
         -o-border-radius: 50%;
}
.about-link{
    background: #fed136;
    font: bold 18px/30px Arial, sans-serif;
    color: #f1f1f1;
    text-transform: uppercase;
    padding-top: 25px;
    margin-left: 380px;
    text-shadow: 0 1px rgba(0, 0, 0, .1);
}

/* 5 */ 
#team{
    text-align: center;
    background-color: #f1f1f1;
    padding-bottom: 1px;
}
.team-item{
    float:left;
    width: 33.33%;
    padding: 0 10px;
}
.team-item img{
    margin-bottom: 15px;
    border: 7px solid #222;
            border-radius: 50%;   /* закруглённые уголки */
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
         -o-border-radius: 50%; 
}
.team-info{
    margin-top: 475px;
    margin-bottom: 120px;
}
.cat{
    font: 14px/14px Arial, sans-serif;
    color: #777;
}
.social{
    margin-top: 10px;
}
.social a{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 0 3px;
    border: 3px solid #222;
    background: url('../img/social-sprite.png') no-repeat;
            border-radius: 50%;   /* закруглённые уголки */
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
         -o-border-radius: 50%; 
}
.social a.black{background-color: #222;}

.social a.ic-tw{background-position: 0 0;}
.social a.ic-tw.black{background-position: 0 -40px;}
.social a.ic-tw:hover{
    background-position: 0 -40px;
    border-color: #00aced;
    background-color: #00aced;
}

.social a.ic-fb{background-position: -40px 0;}
.social a.ic-fb.black{background-position: -40px -40px;}
.social a.ic-fb:hover{
    background-position: -40px -40px;
    border-color: #3b5998;
    background-color: #3b5998;    
}

.social a.ic-pn{background-position: -80px 0;}
.social a.ic-pn.black{background-position: -80px -40px;}
.social a.ic-pn:hover{
    background-position: -80px -40px;
    border-color: #cb2028;
    background-color: #cb2028;
}
.social a.ic-gl{background-position: -120px 0;}
.social a.ic-gl.black{background-position: -120px -40px;}
.social a.ic-gl:hover{
    background-position: -120px -40px;
    border-color: #d95232;
    background-color: #d95232;
}

/* 6 */
#brand{
    padding: 60px 0;
    text-align: center;    
}
#brand a{
    display: inline-block;
    margin-right: 40px;
}
#brand a:last-child{
    margin-right: 0;
}
#brand img{
    vertical-align: middle;
}

/* 7 */
#contact{
    text-align: center;
    background: #222 url('../img/maps-bg.png') no-repeat right bottom;
    padding-bottom: 0;
}
#contact h2.title{
    color: #fff;
}

/* 8 */
#message .left,
#message .right{
    width: 48%;
}
#message input[type="text"],
#message textarea{
    background: #fff;
    width: 100%;
    box-shadow: none;
    margin-bottom: 30px;
    padding: 15px 20px;
    font: bold 14px/14px Arial, sans-serif;
    color: #222;
            border-radius: 5px;    /* закруглённые уголки */
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
         -o-border-radius: 5px;
    
}
#message input[type="text"]{
    height: 50px;
    border: 1px solid #ccc;
}
#message textarea{
    border: none;
    height: 210px;
    resize: none;        /* пользователь не может изменить размер */
}

::webkit-input-placeholder{
    text-transform: uppercase;
    font: bold 14px/14px Arial, sans-serif;
    color: #bbb;
}
::moz-placeholder{
    text-transform: uppercase;
    font: bold 14px/14px Arial, sans-serif;
    color: #bbb;
}
::o-input-placeholder{
    text-transform: uppercase;
    font: bold 14px/14px Arial, sans-serif;
    color: #bbb;
}
.input-placeholder{
    text-transform: uppercase;
    font: bold 14px/14px Arial, sans-serif;
    color: #bbb;
}
.btn[type="submit"]{
    margin-left: 31%;
}

/* 9 */
#copyright{
    padding: 25px 0;
    background-color: #f1f1f1;
}
#copyright a{
    font: 14px/14px Arial, sans-serif;
    color: #555;
    margin-top: -10px;
    margin-right: 10px;
    margin-left: 0px;
}
#copyright .social{
    margin-top: 0;
    margin-left: 485px;
}


